WITH twitter AS (
    SELECT
        *
    FROM
        {{ ref("read_twitter", flow="extract-load-snowflake", reshape="map") }}
)
SELECT
    *
FROM
    twitter
ORDER BY
    'TIMESTAMP' DESC

{{ with_test("not_null", column="timestamp") }}

