{{
  config(
    type="task",
    dependencies=[ref("feedback_website")]
  )
}}
/* add your Task logic here, you can reference name for this component by using {{ this }} */
DROP TABLE IF EXISTS {{ this }};
CREATE TABLE {{ this }} AS (SELECT * FROM {{ ref("feedback_website") }})
