WITH expedition_financials AS (
    SELECT
        e.expedition_id,
        f.total_revenue,
        f.total_cost,
        ROUND((f.total_revenue - f.total_cost) * 100.0 / f.total_revenue, 2) AS profit_margin
    FROM
        {{ ref('expeditions') }} e
    JOIN
        {{ ref('financials') }} f ON e.expedition_id = f.expedition_id
)
SELECT
    expedition_id,
    total_revenue,
    total_cost,
    profit_margin
FROM
    expedition_financials
ORDER BY
    profit_margin DESC
